<?xml version="1.0"?>
<configuration>
  <version>
    <major>2</major>
    <minor>0</minor>
  </version>
  <image>
    <name>ggilman/hamclock</name>
  </image>
  <executable>
    <name>hamclock-1600x960</name>
  </executable>
  <builder>
    <name>mybuilder</name>
  </builder>
  <platforms>linux/amd64,linux/arm64</platforms>
  <build>
    <resolutions>800x480,1600x960,2400x1440,3200x1920</resolutions>
  </build>
</configuration>
